{% extends 'base.html' %}
{% block body %}

  <h1>Movies in {{ category.name }}</h1>

  {% if movies %}
    <ul>
      {% for movie in movies %}
       <div class="col-md-6">
            <img src="{{movie.image.url}}"width="400" height="400">
        </div>
        <li>{{ movie.title }}</li>
      <p>Movie Description:{{movie.description}}</p>
      <p>Movie Actors:{{movie.actors}}</p>
      <p>category: {{movie.category.name}}</p>
      <h5 class="card-link">Youtube_link:{{movie.youtube_trailer_link}}</h5>

      {% endfor %}
    </ul>
  {% else %}
    <p>No movies in this category.</p>
  {% endif %}

{% endblock %}
